/* General */
body {
    padding-top: 60px;
    padding-bottom: 40px;
    overflow-y: scroll;
}

div.canvas_container {
    float: left;
    padding-right: 10px;
}

.hidden {
    display: none;
}

#dropbox {
    height: 300px;
    vertical-align: middle;
    text-align: center;
    line-height: 300px;
    font-size: 3em;
}

#text_input {
    width: 600px;
}

#hidden_text .result {
    width: 300px;
    min-height: 300px;
    line-height: 1.6em;
}
