/* General */
body {
    padding-top: 60px;
    padding-bottom: 40px;
    overflow-y: scroll;

    font-size: 16px;
    line-height: 26px;
}

p {
    margin-bottom: 0;
}

textarea {
    margin-top: 10px;
}

div.canvas_container {
    float: left;
    padding-right: 10px;
}

.hidden {
    display: none;
}

span.label {
    font-size: 1em;
}

#dropbox {
    height: 300px;
    margin: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 300px;
    font-size: 3em;
}

#dropbox.over {
    background-color: rgb(222, 241, 255);
    margin: 0;
    transition: margin .05s;
    transition-timing-function: ease-in;
}

#text_input {
    width: 600px;
}
.result {
    width: 300px;
    min-height: 300px;
    line-height: 1.6em;
}

p {
    padding-top: 10px;
}

/* home */
.thumbnail.small {
    width: 206px;
    margin: 10px 0;
}

.homepic {
    float: left;
    margin-right: 26px;
}

ul.about_me {
    float: left;
    margin-left: 0;
    list-style: none;
}

ul.about_me li {
    padding-left: 50px;
    line-height: 34px;
    background-repeat: no-repeat;
}

li.liip {
    background-image: url('/img/liip.png');
}
li.twitter {
    background-image: url('/img/twitter.png');
}
li.github {
    background-image: url('/img/github.png');
}
li.zhaw {
    background-image: url('/img/zhaw.png');
}

/* Hide */
#bt_done {
    margin-top: 10px;
}